.input {
    width: 65%;
    height: 3.5rem;
    padding: 20px 10px;
    margin-top: 2rem;
    border: solid 2px black;
    font-size: 1rem;
    color: black;
}

.input::placeholder {
    color: grey;
    text-align: center;
    font-size: large;
}